{% from 'layouts.html' import post_container %}
{% extends 'layout.html' %}
{% block content %}
{{ post_container(post=post, show_content=True) }}
<!--Comments-->
<h5>Comments</h5>
{% if current_user.is_authenticated %}
<div class="content-section">
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {% if form.content.errors %}
                {{ form.content(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group ">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endif %}
{% for comment in comments.items %}
<article class="media content-section">
    <img class="rounded-circle comment-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}" alt="" />
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=comment.author.username) }}">{{ comment.author.username }}</a>
            <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if comment.author == current_user %}
            <small><a class="float-right" href="{{ url_for('posts.delete_comment', comment_id=comment.id) }}">delete</a></small>
            {% endif %}
        </div>
        <p class="article-content">{{ comment.content }}</p>
    </div>
</article>
{% endfor %}
{% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if comments.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('posts.post', page=page_num, post_id=post.id) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('posts.post', page=page_num, post_id=post.id) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
